.login {
  height: 100vh;
  width: 100vw;
  display: flex;

  .left {
    height: 100vh;
    width: 55vw;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    > .bg_top, > .bg_bottom {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-image: url("https://alioss.xiamoqwq.com/anime_pic/2022032811393490123.jpg");
      background-size: cover;
    }

    > .filter {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      //backdrop-filter: blur(8px);
      //background: rgba(255, 255, 255, .25);
      background-image: url("https://alioss.xiamoqwq.com/blog/gh/moezx/cdn%403.1.9/img/Sakura/images/dot.gif");

    }
  }

  .right {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 45vw;
    position: relative;

    > .title {
      position: absolute;
      top: 150px;
      font-size: 30px;
      display: flex;
      align-items: center;

      > div {
        position: relative;

        > span:nth-child(1) {
          position: absolute;
          transform: translateX(-100%);
        }

        > span:nth-child(2) {
          margin-left: 10px;
          background-color: #8EC5FC;
          background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
          -webkit-background-clip: text;
          font-weight: 700;
          color: transparent;
        }
      }

      > div:nth-child(2) {
        position: absolute;
        margin-top: 12px;
        filter: blur(5px);
      }
    }

    > .login-content {
      display: inline-flex;
      flex-direction: column;

      > .username {
        margin-bottom: 40px;
        position: relative;
        padding-bottom: 7px;

        > input {
          width: 300px;
          border: unset;
          outline: unset;
          font-size: 15px;

          &:focus + .border::before {
            background-color: #A673E6;
            width: 100%;
            transition: all .5s;
          }
        }
      }

      > .password {
        margin-bottom: 60px;
        position: relative;
        padding-bottom: 5px;

        > input {
          width: 300px;
          border: unset;
          outline: unset;

          &:focus + .border::before {
            background-color: #A673E6;
            width: 100%;
            transition: all .3s;
          }
        }
      }

      .border {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #DAD5E3;
        transition: all .3s;

        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 100%;
          transition: all .3s;
        }
      }

      .input-border {
        &::before {
          background-color: #A673E6;
          width: 100%;
          transition: all .3s;
        }
      }

      > .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #C1ADE3;
        border: 1px solid #A673E690;
        color: white;
        height: 50px;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    > .foot {
      position: absolute;
      bottom: 10px;
      font-size: 14px;

      > span {
        position: absolute;
        right: 0;
        transform: translateX(100%);
      }
    }

    > .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      z-index: -1;

      > .round {
        border-radius: 100%;
        height: 600px;
        width: 600px;
        background-color: #F5ABDD30;
        z-index: -1;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateX(50%) translateY(50%);
      }

      > .neko {
        position: absolute;
        bottom: 0;
        right: -70px;
        height: 285px;
      }
    }
  }
}

/* 处理chrome记住密码后对文本框css的修改 - Start */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s;
}

input {
  background-color: transparent;
}

/* 处理chrome记住密码后对文本框css的修改 - End */

.background-ani {
  opacity: 1 !important;
  animation: 5s bg_ani ease;
}

@keyframes bg_ani {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
