.shuo {
    display: flex;
    width: 100vw;
    height: 100vh;
    .item {
        flex: 1;
        height: 100%;
        .content {
            margin: 20px 0 0 20px;
            .title {
                color: white;
                padding: 5px 10px 5px 20px;
                font-size: 18px;
                background: #FF8B26;
                border-radius: 5px;
                position: relative;
                display: inline-flex;
                align-items: center;
                &::before {
                    content: "";
                    position: absolute;
                    left: 5px;
                    height: 70%;
                    background-color: white;
                    width: 5px;
                    border-radius: 25px;
                }
            }
        }
        .id-card {
            .info {
                margin-top: 35px;
                font-size: 15px;
                .avatar {
                    $size: 150px;
                    height: $size;
                    width: $size;
                    object-fit: cover;
                    border-radius: 100%;
                }
                .key,
                .nick {
                    .input-line {
                        display: flex;
                        align-items: center;
                        input {
                            margin-left: 22px;
                            font-size: 13px;
                            outline: unset;
                            border: unset;
                            padding: unset;
                            transition: all .3s;
                        }
                        &:hover input {
                            margin-left: 12px;
                            padding: 10px;
                            border-radius: 10px;
                            box-shadow: 0 5px 10px rgba(111, 104, 198, .2) inset;
                            font-size: 13px;
                            transition: all .3s;
                        }
                        svg {
                            opacity: 0;
                            transform: translateX(100%);
                            transition: all .3s;
                            margin-left: 12px;
                            font-size: 22px;
                            color: rgba(127, 160, 31, .4);
                        }
                        &:hover svg {
                            opacity: 1;
                            transform: translateX(0%);
                            transition: all .3s;
                        }
                    }
                }
                >div {
                    height: 25px;
                    display: flex;
                    align-items: center;
                    margin-top: 25px;
                    div:nth-child(1) {
                        width: 40px;
                        background-color: #F96265;
                        color: white;
                        padding: 3px 6px;
                        border-radius: 5px;
                        font-size: 16px;
                        display: inline-flex;
                        justify-content: center;
                    }
                    span:nth-child(2),
                    input:nth-child(2) {
                        margin-left: 22px;
                        font-size: 13px;
                    }
                }
            }
        }
        .his {
            .line {
                max-height: calc(100vh - 98px);
                overflow-y: hidden;
                margin-top: 30px;
                &:hover {
                    overflow-y: auto;
                }
                &::-webkit-scrollbar {
                    /*滚动条整体样式*/
                    width: 6px;
                    /*高宽分别对应横竖滚动条的尺寸*/
                    height: 1px;
                }
                &::-webkit-scrollbar-thumb {
                    /*滚动条里面小方块*/
                    border-radius: 10px;
                    background-color: skyblue;
                    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
                }
                &::-webkit-scrollbar-track {
                    /*滚动条里面轨道*/
                    border-radius: 10px;
                }
                .line-item {
                    border-radius: 10px;
                    overflow: hidden;
                    margin-bottom: 50px;
                    .text {
                        color: white;
                        background-color: rgba(160, 144, 255, .7);
                        padding: 10px;
                        font-size: 14px;
                    }
                    .image {
                        padding: 10px;
                        background-color: rgba(160, 144, 255, .4);
                        display: flex;
                        flex-flow: wrap;
                        >div {
                            width: calc(25% - 6px);
                            padding: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            >div {
                                width: 100%;
                                padding-bottom: 100%;
                                position: relative;
                                border: 3px solid hsla(0, 0%, 100%, .3);
                                border-radius: 10px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    object-fit: cover;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .background {
        position: absolute;
        right: 20px;
        bottom: 20px;
        height: 600px;
    }
}